# Ignore environment variable files
.env

# Ignore certificate files in the certs directory
certs/*
!certs/.persist

# Ignore certificate files in the nginx*/certs directories, except for .persist
nginx1/certs/*
!nginx1/certs/.persist
nginx2/certs/*
!nginx2/certs/.persist
nginx3/certs/*
!nginx3/certs/.persist

# Ignore Docker-specific files
**/logs
**/docker-compose.override.yml
**/Dockerfile

# Ignore Nginx logs
nginx*/logs/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore node_modules if using Node.js
node_modules/

